# Dependency directories
node_modules/
jspm_packages/

# Logs and databases
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.db

# Test results and HTML reports
coverage/
.nyc_output/
playwright-report/
test-results/
.playwright/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db

# Environment variables (Security)
.env
.env.local
.env.staging
.env.production
